@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns > div {
  margin: 1rem;
}

.svgholder {
  height: 95vh;
  width: 70vw;
}

.sidebar {
  height: 100%;
  width: 20vw;
}

.neighborhood {
  fill: rgba(252,174,145, 1);
}

#Chinatown {
  stroke: rgba(244, 70, 6, 0.4);
  stroke-width: 2px;
}

#Chinatown:hover {
  stroke: rgba(99, 99, 99, 0.3);
  stroke-width: 2px;
}

.region:hover {
  stroke: rgba(99, 99, 99, 0.3);
  stroke-width: 2px;
}

#map-neighborhoods {
  fill: rgba(127,201,127, 0);
}

#map-cities {
  fill: rgba(253,192,134, 0);
}

.water {
  fill: #9dc3e0;
}

.earth {
  fill: #e3e2e0;
}
