@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$hoodcolor: rgba(252,174,145, 1);
$highlightcolor: #FF5555;
$selectedcolor: #fff3a3;

body {
  font-family: "Open Sans", sans-serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns > div {
  margin: 1rem;
}

.svgholder {
  height: 95vh;
  width: 60vw;
}

.sidebar {
  height: 100%;
  width: 30vw;
}

.neighborhood {
  fill: $hoodcolor;
}

.latimes-neighborhood {
  fill: #330033;
  opacity: 0.5;
}

#Chinatown {
  stroke: rgb(248, 149, 114);
  stroke-width: 2px;
}

#Chinatown.highlighted {
  stroke: $highlightcolor;
}

#Chinatown.selected {
  stroke: $selectedcolor;
}

#Chinatown:hover {
  stroke: rgba(99, 99, 99, 0.3);
}

.region:hover {
  stroke: rgba(99, 99, 99, 0.3);
  stroke-width: 2px;
}

.region.highlighted {
  stroke: $highlightcolor;
  stroke-width: 2px;
}

.region.selected {
  stroke: $selectedcolor;
}

#pois>.region.highlighted {
  stroke-width: 0.5px;
}

// Sidebar
#region-name {
  margin-bottom: 0;
}

#region-desc {
  color: #444444;
}

#poitype {
  color: #777788;
  font-style: italic;
  font-size: 10pt;
}

#go-back {
  background-color: white;
  height: 2rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16pt;
  font-weight: 600;
  cursor: pointer;
  opacity: 0;
}

#go-back.active {
  opacity: 1;
}

#go-back:hover {
  color: #888888;
  text-decoration: underline;
}

#region-children {
  list-style: none;
  position: relative;
  margin-left: 0;
  padding-left: 1.2rem;
}

.region-child {
  cursor: pointer;
}

.region-child::before {
  content: ' ';
  position: absolute;
  left: 0;
}

// Region type formatting

.region-child.type-neighborhood {
  color: $hoodcolor;
  font-weight: 600;
}

.region-child.type-neighborhood:hover {
  color: rgb(248, 149, 114);
} 

.region-child.type-district::before {
  content: '☐';
}

.region-child.type-district {
  color: rgb(126, 124, 153);
}

.region-child.type-district:hover {
  color: rgb(158, 154, 200);
}

.region-child.type-district > .content {
  font-weight: 600;
}

// PoI formatting
.region-child.type-poi {
  color: #777788;
}

.region-child.type-poi:hover {
  color: #444444;
}

.region-child.type-poi > .content {
  font-style: italic;
}

// PoI subtype bullet point decorations

.region-child.poi-elysium::before {
  content: 'Ｙ';
  font-weight: 600;
}

.region-child.poi-normal::before {
  content: '⬤';
}

.region-child.poi-haven::before {
  content: '✚';
}

#map-neighborhoods {
  fill: rgba(127,201,127, 0);
}

#map-cities {
  fill: rgba(253,192,134, 0);
}

.water {
  fill: #9dc3e0;
}

.earth {
  fill: #e3e2e0;
}
