@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

.columns {
  display: flex;
  flex-direction: row;
}

.columns > div {
  margin: 1rem;
}

.svgholder {
  height: 95vh;
  width: 70vw;
}

.sidebar {
  height: 100%;
  width: 20vw;
}

.neighborhood {
  fill: rgba(252,174,145, 1);
}

#Chinatown {
  stroke: rgb(248, 149, 114);
  stroke-width: 2px;
}

#Chinatown:hover {
  stroke: rgba(99, 99, 99, 0.3);
}

.region:hover {
  stroke: rgba(99, 99, 99, 0.3);
  stroke-width: 2px;
}

#region-children {
  list-style: none;
  position: relative;
  margin-left: 0;
  padding-left: 1.2rem;
}

.region-child::before {
  content: ' ';
  position: absolute;
  left: 0;
}

.region-child.poi-elysium::before {
  content: 'Ｙ';
  font-weight: 600;
}

.region-child.poi-normal::before {
  content: '⬤';
}

.region-child.poi-haven::before {
  content: '✚';
}

#map-neighborhoods {
  fill: rgba(127,201,127, 0);
}

#map-cities {
  fill: rgba(253,192,134, 0);
}

.water {
  fill: #9dc3e0;
}

.earth {
  fill: #e3e2e0;
}
